.nav-section {
    padding-top: 25px;
    width: 6%;
    height: 100%;
    background-color: #282e33ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    i {
        font-size: 30px;
        color: #8D939E;
        margin-bottom: 10px;
        transition: color ease 0.15s;
    }

    .icon-menu:hover {
        color: #d8d8d8;
        transition: color ease 0.15s;
    }

    .menu-button {
        margin-bottom: 40px;
    }
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.contacts-sorted-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .sorted-list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;

        &:hover i,
        &:hover .icon-title {
            color: #d8d8d8;
        }

        .icon-title {
            color: #8D939E;
            font-size: 13px;
            font-weight: 600;
            transition: color ease 0.15s;

            // &:hover {
            //     color: #d8d8d8;
            // }
        }
    }
}