@import 'resets';
@import 'nav';
@import 'contacts';
@import 'messages';
@import 'modals';



::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}



::-webkit-scrollbar-button,
::-webkit-scrollbar-button {
    width: 3px;
    height: 3px;
}



::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background: #cccccc;
    border: 0px none #ffffff;
    border-radius: 100px;
}


::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
    background: #adadad;
}


::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:active {
    background: #adadad;
}


::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    background: #c0c0c060;
    border-radius: 100px;
}


::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:hover {
    background: #c0c0c060;
}

::-webkit-scrollbar-track:active,
::-webkit-scrollbar-track:active {
    background: #c0c0c060;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-corner {
    background: transparent;
}