* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

ul, ol, p {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  background: inherit;
  border: none;
  line-height: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-section {
  padding-top: 25px;
  width: 6%;
  height: 100%;
  background-color: #282e33ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
}

.nav-section::-webkit-scrollbar {
  display: none;
}

.nav-section i {
  font-size: 30px;
  color: #8D939E;
  margin-bottom: 10px;
  -webkit-transition: color ease 0.15s;
  transition: color ease 0.15s;
}

.nav-section .icon-menu:hover {
  color: #d8d8d8;
  -webkit-transition: color ease 0.15s;
  transition: color ease 0.15s;
}

.nav-section .menu-button {
  margin-bottom: 40px;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contacts-sorted-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-sorted-list .sorted-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.contacts-sorted-list .sorted-list-item:hover i,
.contacts-sorted-list .sorted-list-item:hover .icon-title {
  color: #d8d8d8;
}

.contacts-sorted-list .sorted-list-item .icon-title {
  color: #8D939E;
  font-size: 13px;
  font-weight: 600;
  -webkit-transition: color ease 0.15s;
  transition: color ease 0.15s;
}

.contacts-section {
  width: 29%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid lightgray;
}

.contacts-section::-webkit-scrollbar {
  display: none;
}

.contacts-section .contacts-header-part {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.contacts-section .contacts-header-part .search-input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  color: black;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #F1F1F1;
}

.contacts-section .contacts-ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
}

.contacts-section .contacts-ul .contacts-li {
  margin: 0 auto;
  border-radius: 7px;
  width: 95%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color ease 0.15s;
  transition: background-color ease 0.15s;
}

.contacts-section .contacts-ul .contacts-li:hover {
  background-color: #EDF2F7;
}

.contacts-section .contacts-ul .contacts-li .contacts-profile-img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
}

.contacts-section .contacts-ul .contacts-li .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}

.contacts-section .contacts-ul .contacts-li .contact-details .contact-name {
  font-weight: 500;
  font-size: 15px;
}

.contacts-section .contacts-ul .contacts-li .contact-details .contact-last-text {
  font-size: 13px;
  color: #A8A8A8;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 250px;
}

.message-section {
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message-section .message-header-part {
  width: 100%;
  height: 9%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message-section .message-header-part .mh-contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45px;
  margin-right: auto;
  width: 850px;
  visibility: hidden;
}

.message-section .message-header-part .mh-contact-details .mh-contact-name {
  font-weight: 500;
}

.message-section .message-header-part .mh-contact-details .mh-contact-status {
  color: #A8A8A8;
}

.message-section .message-header-part .mh-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.message-section .message-header-part .mh-icons i {
  color: #A8A8A8;
  margin-left: 30px;
  font-size: 20px;
  -webkit-transition: color ease 0.15s;
  transition: color ease 0.15s;
}

.message-section .message-header-part .mh-icons i:hover {
  color: #858585;
}

.message-section .message-section-main {
  position: relative;
  background-image: url(../img/background.jpg);
  background-size: contain;
  width: 100%;
  height: 85%;
  overflow-y: scroll;
}

.message-section .message-section-main h2 {
  position: absolute;
  top: 50%;
  right: 50%;
  word-spacing: 5px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-size: 28px;
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #464646c9;
}

.message-section .message-section-main .messages-ul {
  width: 100%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

.message-section .message-section-main .messages-ul .messages-li {
  margin: 10px 0;
}

.message-section .message-section-main .messages-ul .received-time {
  position: absolute;
  font-size: 12px;
  color: #6b6b6b;
  bottom: -20px;
  left: 0px;
}

.message-section .message-section-main .messages-ul .sent-time {
  position: absolute;
  font-size: 12px;
  color: #6b6b6b;
  bottom: -20px;
  right: 0px;
}

.message-section .message-section-main .messages-ul .li-text {
  position: relative;
  overflow-wrap: break-word;
  min-width: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 50%;
  min-height: 32px;
  padding: 5px 13px;
  margin: 5px 0;
  border-radius: 5px 5px 5px 0px;
  font-size: 18px;
  background-color: white;
  color: black;
  font-weight: normal;
  -webkit-transition: 1s;
  transition: 1s;
}

.message-section .message-section-main .messages-ul .li-text::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 0 0 8px 14px;
  border-color: transparent transparent white transparent;
  bottom: 0px;
  left: -6px;
  margin-top: -8.5px;
}

.message-section .message-section-main .messages-ul .sent-text {
  position: relative;
  border-radius: 5px 5px 0 5px;
  background-color: #DEF1FD;
  overflow-wrap: break-word;
  min-width: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 50%;
  min-height: 32px;
  padding: 5px 13px;
  margin: 5px 0;
  margin-left: auto;
  font-size: 18px;
  color: black;
  font-weight: normal;
  -webkit-transition: 1s;
  transition: 1s;
}

.message-section .message-section-main .messages-ul .sent-text::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 8px 0 0 14px;
  border-color: transparent transparent transparent #DEF1FD;
  bottom: 0px;
  right: -7px;
  margin-top: -8.5px;
}

.message-section .typing-section {
  width: 100%;
  height: 8%;
  background-color: white;
  visibility: hidden;
}

.message-section .typing-section .typing-form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.message-section .typing-section .typing-form i {
  font-size: 26px;
  color: #A8A8A8;
  -webkit-transition: color ease 0.15s;
  transition: color ease 0.15s;
}

.message-section .typing-section .typing-form i:hover {
  color: #858585;
}

.message-section .typing-section .typing-form .typing-area {
  width: 80%;
  height: 100%;
  outline: none;
  border: none;
  padding: 18px 10px 0;
  resize: none;
  font-family: 'Roboto', sans-serif;
  margin-right: auto;
  margin-left: 15px;
  overflow-y: scroll;
  font-size: 18px;
}

.message-section .typing-section .typing-form .typing-area::-webkit-input-placeholder {
  font-size: 15px;
  padding-bottom: 0 !important;
}

.message-section .typing-section .typing-form .typing-area:-ms-input-placeholder {
  font-size: 15px;
  padding-bottom: 0 !important;
}

.message-section .typing-section .typing-form .typing-area::-ms-input-placeholder {
  font-size: 15px;
  padding-bottom: 0 !important;
}

.message-section .typing-section .typing-form .typing-area::placeholder {
  font-size: 15px;
  padding-bottom: 0 !important;
}

.message-section .typing-section .typing-form .typing-area::-webkit-scrollbar {
  display: none;
}

.message-section .typing-section .typing-form .voice-icon {
  margin: 0 25px;
}

.message-section .typing-section .typing-form .send-icon {
  padding: 2px;
}

.message-section .typing-section .typing-form .send-icon:hover {
  color: #2DA4E1;
}

/* SIDEBAR */
.sidebar-modal-dialog {
  width: 300px;
  padding: 0;
  margin: 0;
}

.sidebar-modal-content {
  padding: 0;
  margin: 0;
  height: 100vh;
  border-radius: 0px;
}

.sidebar-modal-body {
  padding: 0;
}

.sidebar-modal-head-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 20px 30px 10px;
  background-color: #41A1D9;
  color: white;
}

.sidebar-profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.sidebar-profile-number {
  font-size: 14px;
}

.modal-ul {
  margin-top: 15px;
  padding: 15px;
}

.modal-ul .modal-li {
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.modal-ul .modal-li i {
  text-align: center;
  width: 40px;
  font-size: 25px;
  color: #A8A8A8;
  margin: 0;
  margin-right: 15px;
}

.modal-ul .modal-li .modal-li-p {
  color: black;
  font-size: 14px;
  font-weight: 700;
}

.modal-ul .modal-li .toggle-icon {
  margin-left: auto;
  font-size: 30px;
}

/* USERINFO */
.userinfo-modal-content {
  width: 385px;
  margin: 0 auto;
}

.userinfo-body {
  padding: 15px 25px 0;
}

.userinfo-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userinfo-nav i {
  font-size: 25px;
  margin-left: 20px;
  color: #A8A8A8;
}

.userinfo-nav i:hover {
  color: #858585;
}

.userinfo-text {
  font-size: 20px;
  font-weight: 500;
  margin-right: auto;
}

.userinfo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userinfo .profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 16px;
}

.userinfo .username {
  font-size: 18px;
  color: #2D3748;
  font-weight: 500;
}

.userinfo .user-status {
  font-size: 14px;
  color: #16B4EF;
}

.userinfo .userinfo-ul {
  width: 100%;
}

.userinfo .userinfo-ul .userinfo-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

.userinfo .userinfo-ul .userinfo-li:nth-child(4) i {
  color: #4299e1;
}

.userinfo .userinfo-ul .userinfo-li:nth-child(4) i:hover {
  color: #218de6;
}

.userinfo .userinfo-ul .userinfo-li i {
  font-size: 25px;
  margin-right: 25px;
  color: #A8A8A8;
}

.userinfo .userinfo-ul .userinfo-li i:hover {
  color: #858585;
}

.userinfo .userinfo-ul .userinfo-li .userinfo-details {
  font-size: 14px;
  font-weight: 500;
}

.userinfo .userinfo-ul .userinfo-li .userinfo-details .userinfo-details-title {
  color: #A8A8A8;
}

.userinfo-file-ul {
  margin-top: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.userinfo-file-ul .userinfo-file-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  font-size: 12px;
  padding-bottom: 5px;
  font-weight: 600;
}

.userinfo-file-ul .userinfo-file-types:nth-child(1) {
  border-bottom: 2px solid #4299e1;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-button {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border: 0px none #ffffff;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background: #adadad;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:active {
  background: #adadad;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: #c0c0c060;
  border-radius: 100px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:hover {
  background: #c0c0c060;
}

::-webkit-scrollbar-track:active,
::-webkit-scrollbar-track:active {
  background: #c0c0c060;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-corner {
  background: transparent;
}
/*# sourceMappingURL=style.css.map */